
<form
    #loginForm="ngForm"
    (submit)="login(loginForm)"
    autocomplete="off">
    <!-- Username: <input [(ngModel)]="username" type="text"> -->
    Username: <input (ngModel)="username" name="username" type="text">
    Username: <input (input)="username=$event.target.value" type="text">
    <!-- Password: <input [(ngModel)]="password" type="password"> -->
    Password: <input (ngModel)="password" type="password">

    <!-- Username: <input type="text"> -->
    <!-- Password: <input type="password"> -->

    <input type="button" (click)="handleSubmit()" value="Submit">
    <input type="button" (click)="handleCancel()" value="Cancel">
    <button (click)="login()">login()</button>
</form>